

#title{
	background-image: url("h-img.jpg");
	background-size: cover;
	background-color: black;
	text-align: left;
	height: 720px;

}
.pb{
	margin-left: 30px;
	padding: 100px 0px 0px 20px;
}
h1{ 
	 font-family: 'Montserrat, sans-serif';

	 font-size: 5rem; 
	 font-weight: 900;
	 color: white;
	 
	}
h3{
	font-family: "Montserrat-Bold, sans-serif";
}

h2{
	font-family: Montserrat-Bold";
	font-size: 3rem;
	margin-bottom: 20px;
	margin-left: 5%;
}

.sub-title{
	color: #e6c4c0;
	font-family: 'Caudex', serif;
}

#features{
	padding: 7% 14%;
}
.feature-box{
	text-align: center;
	padding: 5%;
}

p{
	color: #8f8f8f;
}

.icon{
	margin-bottom: 1rem;
}

.icon:hover{
	color: #687980;
}

.Parts-image{
	width: 50%;
	height: 50%;
	margin: 20px 20px 50px 20px;
}

#testimonials{
	padding: 7%,20%;
	text-align: left;
	background-color: black;
	color: #fff;
	padding-top: 3%;
}

.testimonial-para{
	margin-left: 5%;
	margin-right: 5%;
}

 .Authorize-logo{
 	width: 15%;
	margin: 20px 20px 50px 20px;
 }

 #press{
 	background-color: black;
	text-align: center;
	padding-bottom: 3%;
 }

 #pricing{
	padding: 100px;
	text-align: center;
}

.card{
	padding: 3% 2%;
}

#Gallery{
	text-align: center;
	padding: 5% 10%;
	background-color: black;
}

.Gallery-title{
	color: #fff;
	font-size: 3rem;
	padding-bottom: 30px;
}

#map{
	color: #fff;
	font-size: 3rem;
	text-align: center;
	padding-bottom: 30px;	
}

.mapouter{
	position:relative;
	text-align:right;
	width:600px;
	height:400px;
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	width:600px;
	height:400px;
}
.gmap_iframe {
	width:600px!important;
	height:400px!important;
}

.follow-route{
	padding: 5% 10%;
	color: black;
}

